<!doctype html>
<title>Path: {{ tree.name }}</title>
<h4>{{ tree.name }}</h4>
<ol>
<form method="POST" class="post-form" action='/rate/'>
{%- for item in tree.children recursive %}
    {% if not item.children %}
	<li><img src='{{ item.path }}' width=100 height=100 >{{item.path}}
        {{ csrf_input }}
        {% for i in range(1,6) %}
            <input type="radio" id="i" name="rate" value={{item.path}}:{{i}}>
        {% endfor %}
    {% endif %}
    {%- if item.children -%}
        <h4>{{item.name}}</h4><ol>{{ loop(item.children) }}</ol>
    {%- endif %}</li>
{%- endfor %}
<p>Go to<a href="/delete/"><b>&nbsp;Deletion</b></p></a>
&nbsp;&nbsp;&nbsp;
<p><a href="/score_board/"><b>&nbsp;Score&nbsp;Board</b></p></a>
</br>
<button type="submit" class="save btn btn-default">GO!</button>
</form>
</ol>
